.DS_Store
/dist/
/font/
/node_modules/
/public/
/src/config/
/tests/e2e/screenshots/
/tests/e2e/videos/
ossutil_output/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
